@import "../../../../../assets/style/partials/variables.scss";
.form-input-label {
  margin-left: 4px;
  margin-bottom: 10px;
}
.active {
  color: $global-theme;
}
.cursor {
  cursor: pointer;
}

:host ::ng-deep {
  rm-icon.enable-prefix {
    padding-left: 18px;
  }
  .rm-input.recipient {
    .mat-form-field-appearance-outline
      .mat-form-field-outline-thick
      .mat-form-field-outline-start,
    .mat-form-field-appearance-outline
      .mat-form-field-outline-thick
      .mat-form-field-outline-end,
    .mat-form-field-appearance-outline
      .mat-form-field-outline-thick
      .mat-form-field-outline-gap {
      border-width: 1px !important;
    }
    .mat-form-field {
      &:not(.mat-form-field-disabled).readonly {
        pointer-events: none;
        .mat-form-field-flex {
          background-color: transparent !important;
          padding: 0 !important;
        }
        .mat-form-field-infix {
          margin: 0 -8px;
          padding-left: 58px !important;
        }
        .mat-form-field-outline {
          color: #c2c2c2 !important;
        }
        .mat-form-field-wrapper {
          margin-bottom: 0 !important;
          padding-bottom: 0;
        }
      }
      &:not(.mat-form-field-disabled).readonly.reportView {
        pointer-events: none;
        .mat-form-field-flex {
          background-color: transparent !important;
          padding: 0 !important;
        }
        .mat-form-field-infix {
          margin: 0 -8px;
          padding-left: 50px !important;
        }
        .mat-form-field-outline {
          color: #ffffff !important;
        }
        .mat-form-field-wrapper {
          margin-bottom: 0 !important;
          padding-bottom: 0;
        }
      }
      &.mat-form-field-disabled.readonly {
        pointer-events: none;
        .mat-form-field-flex {
          background-color: #f5f5f5 !important;
        }
        .mat-input-element:disabled {
          color: currentColor;
        }
        .mat-form-field-label {
          color: rgba(0, 0, 0, 0.6);
        }
      }
      width: 100%;
      font-size: 14px;
      line-height: 18px;
      .mat-form-field-wrapper {
        padding-bottom: 12px;
        margin-bottom: 10px !important;
        .mat-form-field-required-marker {
          color: $red_status-color;
        }
        .mat-form-field-subscript-wrapper {
          padding: 0 0.5em;
          .mat-error {
            font-size: 12px;
          }
        }
        .mat-form-field-flex {
          background: white;
          border-radius: 5px;
          min-height: 46px; // Standard Input height
          // outline: 1px solid #e0e0e0;
          padding: 0;
          .mat-form-field-prefix {
            padding-right: 0;
          }
          .mat-form-field-suffix {
            padding-left: 8px;
          }
          .mat-form-field-prefix,
          .mat-form-field-suffix {
            top: 8px !important;
            left: 10px;
            position: absolute;
            width: 34px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 29px;
            background-color: rgba(181, 234, 250, 1);
          }
          .mat-form-field-infix {
            border-top-width: 4px;
            padding: 18px 0 0 0px;
            .mat-input-element {
              text-overflow: ellipsis;
            }
            .mat-form-field-label {
              top: 25px;
              // color: $dark_gray_typo-color;
            }
          }
        }
      }
    }
    .mat-form-field-outline {
      top: 0 !important;

      .mat-form-field-outline-start {
        border-radius: 4px 0 0 4px;
      }
      .mat-form-field-outline-gap {
        border-top-color: currentColor !important;
      }
      .mat-form-field-outline-end {
        border-radius: 0 4px 4px 0;
      }
      &.mat-form-field-outline-thick {
        // color: $light_gray_typo-color;
        .mat-form-field-outline-start {
          border-radius: 4px 0 0 4px;
          border-width: 1px !important;
        }
        .mat-form-field-outline-start {
          border-width: 1px !important;
        }
        .mat-form-field-outline-end {
          border-radius: 0 4px 4px 0;
          border-width: 1px !important;
        }
      }
    }
    .mat-form-field-should-float {
      .mat-form-field-label {
        margin-top: 8px;
        // color: $dark_gray_typo-color;
        transform: translateY(-19px) scale(0.75) !important;
      }
    }

    .mat-focused {
      .mat-form-field {
        border: 1px solid $global-theme;
      }
    }
  }

  // Small Input Styles
  .rm-input.recipient .mat-form-field.small {
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
      .mat-form-field-flex {
        height: 28px;
        .mat-form-field-prefix {
          top: -1px !important;
          right: -4px;
          padding-right: 4px;
        }
        .mat-form-field-infix {
          padding: 2px 0 0 0px;
        }
      }
    }
  }
  .rm-input.recipient .mat-form-field.no-label:not(.small) {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        .mat-form-field-infix {
          padding: 5px 0px 7px 51px;
          display: flex;
          align-items: center;
          min-height: 42px;
        }
      }
    }
  }

  .rm-input.recipient .mat-standard-chip {
    min-height: 28px;
    height: 1px;
    background-color: #f0f0f0 !important;
    color: #5c5c5c !important;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    border-radius: 4px !important;
    font-weight: normal;
    &.trigger {
      cursor: pointer;
    }
    &:hover::after,
    &:focus::after {
      opacity: 0 !important;
    }
  }
}
