@import "./variables.scss";
// @import "~@angular/material/theming";
@import "@angular/material/theming";
@include mat-core();

//Mixin for global theme change
@mixin changeTheme($theme-palete) {
  --global-theme: green;
}

//Palete for Base Theme
$default-theme: (
  50: var(--global-theme-light-shade-9),
  100: var(--global-theme-light-shade-8),
  200: var(--global-theme-light-shade-7),
  300: var(--global-theme-light-shade-6),
  400: var(--global-theme-light-shade-5),
  500: var(--global-theme),
  600: var(--global-theme),
  700: var(--global-theme),
  800: var(--global-theme),
  900: var(--global-theme),
  A100: var(--global-theme-light-shade-4),
  A200: var(--global-theme-light-shade-3),
  A400: var(--global-theme-light-shade-2),
  A700: var(--global-theme-light-shade-1),
  contrast: (
    50: $default_typo-color,
    100: $default_typo-color,
    200: $default_typo-color,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $default_typo-color,
    A200: white,
    A400: white,
    A700: white,
  ),
);

//Palete for Error Theme
$RM-warn: mat-palette($mat-red);

$RM-theme: mat-light-theme(
  (
    color: (
      primary: mat-palette($default-theme),
      accent: mat-palette($default-theme),
      warn: $RM-warn,
    ),
  )
);

@include angular-material-theme($RM-theme);
.theme-green {
  @include changeTheme(green);
}
.theme-orange {
  @include changeTheme(orange);
}
// .theme-dark-blue {
//     $mat-theme: $default-theme;
// }
// .theme-light-blue {
//     $mat-theme: $default-theme;
// }
