
<!-- Reset Password -->
<ng-container>
    <div class="page-title">
        <h1>Reset Password</h1>
    </div>
    <form class="loginForm" [formGroup]="resetPasswordForm">
        <rm-input [config]="resetPasswordFormConfig!.ResetPasswordEmailInput!"
        formControlName="emailId"
        [dataModel]="resetPasswordModel"></rm-input>
        <rm-input (onBlur)="updateConfirmPasswordField()" [config]="resetPasswordFormConfig!.ResetNewPasswordInput!"
        formControlName="newPassword"
        [dataModel]="resetPasswordModel"></rm-input>
        <rm-input (onBlur)="test()" [config]="resetPasswordFormConfig!.ResetConfirmPasswordInput!"
        formControlName="confirmPassword"
        [dataModel]="resetPasswordModel"></rm-input>
        <div class="more-options">
            <rm-button (onClick)="resetPassword()" [disabled]="resetPasswordForm.invalid || resetPasswordModel.ConfirmPassword == null">RESET PASSWORD</rm-button>
            <a href="javascript:void" class="forget-password" [routerLink]="['/auth/login']">Cancel</a>
        </div>
    </form>
</ng-container>
