<!-- Forget Password -->
<ng-container *ngIf="isForgetPasswordView">
  <div class="page-title">
    <h1>Forgot Password</h1>
    <p *ngIf="!isOTPView">
      Enter your registered email and we will send you a verification code to
      reset your password.
    </p>
    <p *ngIf="isOTPView">
      Check your email for OTP on
      <a href="javascript:void(0)">{{ forgetPasswordModel.EmailId }}</a>
    </p>
  </div>
  <form *ngIf="!isOTPView" class="loginForm" [formGroup]="forgetPasswordForm">
    <!-- Enter Email -->
    <rm-input
      [config]="forgetPasswordFormConfig!.ForgetPasswordEmailInput"
      formControlName="emailId"
      [dataModel]="forgetPasswordModel"
    ></rm-input>
    <div class="more-options">
      <rm-button
        (onClick)="sendResetPassword()"
        [disabled]="forgetPasswordForm.invalid"
        [loading]="loading"
        >SEND RESET CODE</rm-button
      >
      <a
        href="javascript:void"
        class="forget-password"
        [routerLink]="['/auth/login']"
        >Cancel</a
      >
    </div>
  </form>
  <!-- Enter OTP -->
  <form *ngIf="isOTPView" class="loginForm otp">
    <rm-otp-input
      [config]="forgetPasswordFormConfig!.otpResetConfig"
      (onInputChange)="onOtpChange($event)"
    ></rm-otp-input>
    <div class="more-options">
      <rm-button
        (onClick)="continue()"
        [disabled]="checkOTPLength"
        [loading]="loading"
        >SUBMIT</rm-button
      >
      <a
        href="javascript:void"
        class="forget-password"
        [routerLink]="['/auth/login']"
        >Cancel</a
      >
    </div>
  </form>
</ng-container>

<!-- Reset Password -->
<ng-container *ngIf="!isForgetPasswordView">
  <div class="page-title">
    <h1>Reset Password</h1>
  </div>
  <form class="loginForm" [formGroup]="resetPasswordForm">
    <rm-input
      [config]="resetPasswordFormConfig!.ResetPasswordEmailInput"
      formControlName="emailId"
      [dataModel]="resetPasswordModel"
    ></rm-input>
    <rm-input
      (onBlur)="updateConfirmPasswordField()"
      [config]="resetPasswordFormConfig!.ResetNewPasswordInput"
      formControlName="newPassword"
      [dataModel]="resetPasswordModel"
    ></rm-input>
    <rm-input
      (onBlur)="test()"
      [config]="resetPasswordFormConfig!.ResetConfirmPasswordInput"
      formControlName="confirmPassword"
      [dataModel]="resetPasswordModel"
    ></rm-input>
    <div class="more-options">
      <rm-button
        (onClick)="resetPassword()"
        [disabled]="
          resetPasswordForm.invalid ||
          resetPasswordModel.ConfirmPassword == null
        "
        [loading]="loading"
        >RESET PASSWORD</rm-button
      >
      <a
        href="javascript:void"
        class="forget-password"
        [routerLink]="['/auth/login']"
        >Cancel</a
      >
    </div>
  </form>
</ng-container>
