@import "../../../../assets/style/partials/variables.scss";

.mat-drawer-container {
  background-color: $default_app-background;
  color: $default_typo-color;
}
:host ::ng-deep {
  .mat-drawer {
    width: 300px;
  }
}

.mat-drawer-content {
  height: calc(100vh - 60px) !important;
  margin-top: 60px;
  &.extra-sub {
    overflow: hidden;
    height: calc(100vh - 108px) !important;
    margin-top: 108px;
  }
}
