<ng-template #content>
    <!-- <div class="rm-modal-header">
        <h1>{{config?.heading}}</h1>
        <rm-icon *ngIf="this.config?.showExpand" (onClick)="expandToggle()" [icon]="'share'" [state]="'hover'"></rm-icon>
    </div>
    <div class="rm-body" [style.padding]="config?.padding">
        <ng-content></ng-content>
    </div>
    <div class="rm-footer" *ngIf="config.footerActions.length != 0">
        <div class="rm-footer-actions">
            <ng-container *ngFor="let action of config.footerActions">
                <rm-button [loading]="action?.loading" (onClick)="actionBtnClick(action)" [disabled]="action?.disabled" [SplitConfig]="action.splitButtonConfig" [type]="action?.type" [role]="action?.role">{{ action.value }}</rm-button>
            </ng-container>
        </div>
    </div> -->
</ng-template>