<div class="auth_layout container-fluid">
  <div class="row">
    <div class="col-md-5 order-md-2 login-layout">
      <div class="login-viev">
        <div class="LoginLogo"></div>
        <router-outlet></router-outlet>
        <ng-container *ngIf="loading">
          <div class="loader-body">
            <rm-loader></rm-loader>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-md-7 constant-view">
      <div class="bg_img"></div>
      <div class="info">
        <p>Experience hassle-free shipping with our comprehensive and all-in-one
          platform that covers all your logistics needs.</p>
        <p>
          Invoicer - a cloud-based SaaS platform that revolutionizes the
          logistics and shipping industry with its cutting-edge features. Enjoy
          real-time tracking and visibility, optimize your routes, and automate
          your process for increased efficiency & reduced costs.
        </p>
        <h6 class="contact-support">
          Contact Support:<br />
          Tel: <a href="tel: +91 89288 99224">+91 89288 99224</a> &nbsp;|&nbsp;
          Email:
          <a href="mailto:support@mversesolutions.com"
            >support@mversesolutions.com</a
          >
        </h6>
      </div>
    </div>
  </div>
</div>
