@import "../../../../assets/style/partials/variables.scss";

.auth_layout {
  background-color: white;
  .constant-view {
    background-color: #8dd9ea;
    min-height: 100vh;
    .bg_img {
      // background-image: url("../../../../assets/img/loginImg.svg");
      background-image: url("/assets/img/loginImg.svg");
      height: 70vh;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .info {
      height: max-content;
      min-height: 30vh;
      margin-right: -15px;
      margin-left: -15px;
      background-color: #056d8e;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        color: #8dd9ea;
        font-size: 18px;
        margin-top: 0;
        font-weight: normal;
        text-align: justify;
      }
      h6 {
        margin: 0;
        color: white;
        font-size: 16px;
      }
    }
  }
  .login-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    .login-viev {
      //padding: 0 5%;
      // padding-top: 25vh;
      width: 600px;
      height: 420px;
      .LoginLogo {
        // background-image: url("../../../../assets/img/logo-name.svg");
        // background-image: url("/assets/img/logo-name.svg");
        background-image: url("/assets/img/dummyLogo_color.png");
        height: 60px;
        background-repeat: no-repeat;
      }
    }
  }
}
@media (max-height: 730px) {
  .auth_layout .login-view {
    padding-top: 18vh;
  }
}
@media (max-width: 1600px) {
  .auth_layout .constant-view .bg_img {
    // height: 60vh;
    height: 55vh;
  }
  .auth_layout .constant-view .info {
    // min-height: 40vh;
    min-height: 45vh;
  }
}

// contact-support

.contact-support {
  font-weight: 500;
  a {
    color: white;
    // css Review change
    font-weight: 400;
  }
}

.loader-body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff96;
  display: flex;
  align-items: center;
  justify-content: center;
}
