@import "../../../assets/style/partials/variables.scss";

.my-account_wrapper {
  overflow: hidden;
  height: calc(100vh - 108px);
  margin-right: 0;
}

// Content
.header-bar {
  // border-bottom: 1px solid $default_line-color;
  // background: white;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // padding: 0 20px;
  // height: 60px;
  border-bottom: 1px solid $default_line-color;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  position: fixed;
  width: calc(75% + 10px);
  top: 108px;
}

.footer-bar {
  border-top: 1px solid $default_line-color;

  background: white;
  padding: 15px 20px;
  border-top: 1px solid $default_line-color;
  position: fixed;
  bottom: 0;
  right: 0;
  display: block;
  width: calc(75% + 10px);
  height: 64px;
  box-sizing: border-box;
  .btn-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__cancel {
    margin-right: 10px;
  }
}

.tab-body {
  // height: calc(100vh - 108px);
  // overflow: auto;
  .content-wrapper {
    padding: 20px;
    height: calc(100vh - 170px);
    overflow: auto;
    margin-top: 60px;
    .card-with-title {
      border: 1px solid $default_line-color;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0px;
        &.edit-spacer {
          margin-bottom: 64px;
        }
      }
      background-color: white;
      .card {
        &-heading {
          padding: 20px;

          display: flex;
          justify-content: initial;
          align-items: center;

          font-size: 18px;
          color: #333333;
          border-color: $default_line-color;
        }
        &-body {
          padding: 20px;

          .profile-details {
            display: flex;
            .profile-img {
              margin-right: 30px;
              .edit-icon {
                position: relative;
                left: -15px;
                top: 0px;
              }
            }
            &__pic {
              border-radius: 50%;
              width: 70px;
              height: 70px;
              object-fit: contain;
            }

            &__content {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              .contact-info {
                padding: 8px;
              }
              .name {
                font-size: 18px;
                font-weight: 400;
              }
              .email {
                font-size: 14px;
                font-weight: 400;
              }
              .phone {
                font-size: 14px;
                font-weight: 400;
              }

              .social-media {
                padding: 8px;
                .icon {
                  margin-right: 10px;
                }
              }
            }
          }
          .change_photo-link {
            display: block;
            font-size: $small_font-size;
            margin-top: 4px;
          }
        }
      }
    }
  }
}

// Standard
.title {
  font-size: $h5_font-size;
}

.link {
  text-decoration: none;
  color: $default_link-color;
}

// Grid
// .row {
//   display: flex;
//   &.column {
//     flex-direction: column;
//   }
//   &.justify-center {
//     justify-content: center;
//   }
//   &.align-center {
//     align-items: center;
//   }

//   // COl
//   .col {
//     &-2 {
//       flex: 0.2;
//     }
//     &-10 {
//       flex: 0.8;
//     }
//     &-12 {
//       flex: 1;
//     }
//   }
// }

// Vertical-tabs

.vertical-tabs {
  background: white;
  height: calc(100vh - 108px);
}

.tab-item {
  border-top: 1px #d5dadf solid;
  border-bottom: 1px solid #e0e0e0;
  border-top-width: 0px;
  border-left: 3px solid transparent;
  padding: 4px 10px 4px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  // margin-left: 5px;
  // border-width: 0px;
  // position: absolute;
  // left: 0px;
  // top: 0px;
  // width: 300px;
  height: 48px;
  overflow: hidden;

  display: flex;
  // justify-content: center;
  align-items: center;
}

.border_bottom {
  border-bottom: 1px #d5dadf solid;
}
.border_right {
  border-right: 1px #d5dadf solid;
}

.tab-item__heading {
  line-height: 1.1em;
  letter-spacing: 0.02em;
  color: $default_typo-color;
  font-weight: 400;
  margin: 0px;

  display: flex;
  align-items: center;

  .icon {
    margin-right: 10px;
  }
}
.tab-item:hover {
  // border-left: 5px solid #28AB26;
  background-color: #f5f5f5;
  .tab-item__heading {
    color: $global-theme;
  }
}
.tab-item.active {
  border-left: 3px solid $global-theme;
  // background: $global-theme-light;
  background: #ebebeb;
  // background: var(--global-theme-light-shade-9);
  .tab-item__heading {
    color: $global-theme;
  }
}

@media (min-width: 1200px) {
  .header-bar,
  .footer-bar {
    width: calc(83.3333333333% + 10px);
  }
}
